$breakpoints: (
  small: 576px,
  medium: 768px,
  large: 992px,
  xlarge: 1200px
);

// Mixin dynamique pour les breakpoints
@mixin respond($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}