.customizer hr {
  border: 0;
  border: dotted 1px #f0f;
}

.customizer-title {
  text-align: right;
  font-size: 1.5rem;
  font-weight: 700;
  border-bottom: solid 1px #f0f;
  margin-bottom: 1rem;
}

.customizer-section {
  border: solid 1px #f0f;
  padding: 1rem;
  margin-bottom: 1rem;
}

