/* css variables */
:root {
  --color-main: #2E1510;
  --color-secondary: #DBCA9A;
  --color-interaction: #EF9995;
}


body.taverne {
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  font-weight: var(--main-font-weight);
  color: var(--main-font-color);

  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  background-image: var(--background-image);
  color: var(--text-color);

  min-height: 100vh;
  overflow-x: hidden;
}

body.taverne *:not(li) > hr {
  height: 0;
  border-bottom: solid 1px;
  margin: 1rem 0;
}


/* =================================================== */

body.taverne .card {
  border: var(--card-border-width) solid var(--card-border-color);
  border-radius: var(--card-border-radius);
  background-color: var(--card-background-color);

  display: flex;
  flex-direction: column;
  transition: all 0.3s;
}

body.taverne .card .card-title{
  font-size: var(--card-title-font-size);
  padding: 0 4px;
}

/* =================================================== */

body.taverne .site-title {
  font-family: var(--site-title-font-family);
  font-size: var(--site-title-font-size);
  color: var(--site-title-font-color);
  font-weight: var(--site-title-font-weight);
  margin-bottom: var(--site-title-margin-bottom);
}






body.taverne #header-image {
  display: none;
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


}


.taverne a.btn-neutral {
  color: #fff;
}

.taverne a {
  color: var(--link-color);
  text-decoration: underline;
  transition: all 0.3s;
}

.taverne a:hover {
  text-shadow: 3px 3px 2px #0003;
  /* color: #DBCA9A; */
}






.taverne .container {
  margin: 0 auto;
}


 body.taverne .content {
  margin: 0 auto;
}

button {
  padding: 0.5rem 1rem;
  background-color: var(--color-main);
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}


/* ======================================== */

.taverne .modal-box {
  background-color: #fff;
  padding: 1rem;
}

.taverne .tab-content {
  min-height: 300px;
  width: 100%;
}

/* ======================================== */



/* .taverne input[type="text"],
.taverne input[type="email"],
.taverne input[type="password"],
.taverne textarea,
.taverne select
{
  background-color: #fff;
  border: 1px solid var(--color-main);
} */

/* .taverne input[type="text"],
.taverne input[type="email"],
.taverne input[type="password"],
.taverne input[type="date"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: #fff;
  border: 1px solid var(--color-main);

} */



.taverne p {
  margin: 0 0 1rem 0;
}

.taverne #modal_main .modal-action{
  position: absolute;
  top: -1rem;
  right: 0.5rem;
}





/* ===================================== */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

h1.section-title-1 {
  /* text-align: center; */
  /* font-size: 3em !important; */
  /* border-bottom: 1px solid var(--color-main); */
}

h1.main-title {
  font-family: "Grenze Gotisch", serif;
  font-size: 5rem;
  text-align: left;
  letter-spacing: 0.1em;
}


header.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.edition-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 0.7rem;
}


.banner {
  display: flex;
  border-top: 1px solid var(--color-main);
  border-bottom: 1px solid var(--color-main);
  justify-content: space-between;
  padding : 4px 8px;
  font-size: 1.2rem;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
  min-height: 100vh;
  max-width: 1200px;
}

.content-container .content {
  flex: 1;
  max-width: 1200px;
}


.character-section {
  display: block;

  border-bottom: 1px solid var(--color-main);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}




.column-text {
  column-count: 3;
  column-gap: 1rem;
}

.column-text--2 {
  column-count: 2;
  column-gap: 1rem;
}


.column-text h2 {
  column-span: 3;
}





.taverne .menu-right {
  border-left: 1px solid var(--color-main);
  width: 200px;
  padding: 0 1rem;
}

.taverne .menu-right .menu-right__item {
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--color-main);
  padding-bottom: 1rem;
}

.taverne .menu-right .menu-right__item h2 {
  margin-bottom: 0;
}

.taverne .menu-right .menu-right__item ul {
  list-style-type: none;
  padding-left: 0rem;
  margin-left: 0rem;
}

.taverne .menu-right .menu-right__item ul li {
  margin-bottom: 0.5rem;
}




.character-toolbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-main);
  border-top: 1px solid var(--color-main);
  margin-bottom: 1rem;
}

.character-toolbar-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.character-toolbar-info > span::first-letter {
  text-transform: uppercase;
}



.taverne .acf-label {
  display: none;
}

.character-portrait {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  background-size: cover;
  border-radius: 50%;
  border: 1px solid var(--color-main);
}



.map /*:not(.map-popup)*/ {

}

.leaflet-tile-pane {
  filter: brightness(0.6) contrast(4) sepia(75%);
}

.map .map-popup {
  filter: brightness(1.4) contrast(-4) sepia(0);
}

.taverne .leaflet-popup-content {
  padding: 0;
  margin: 8px;
}

.taverne .leaflet-popup-content {
  padding: 0;
}

.leaflet-control-attribution {
  display: none;
}
