.taverne {
    .skill-tree-viewer {

        max-width: 21cm;
        min-height: 29.7cm;

        margin: auto;
        padding: 0.5cm;
        border: solid 1px #aaa;
        background-color: #fff;


        #loading-indicator {
            display: none;
            position: fixed;
            bottom: 0;
            right:0;
        }

        #loading-indicator.active {
            display: block;
        }


        h2 {
            font-size: 1rem;
        }

        .container {
            border: solid 1px oklch(var(--primary-color));
            background-color: #fff;
            padding: 4px;
        }


        .dropdown .dropdown-content {
            z-index:1000;
        }

        .tooltip-content {
            width: 200px;
            background-color: #ccc;
            border: solid 1px oklch(var(--primary-color));
            padding: 4px;
            border-radius: 4px;
        }

        .attribute-container,
        .perk-container,
        .characteristic-container,
        .skill-container  {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: solid 1px oklch(var(--primary-color));
            border-radius: 4px;
            margin-bottom: 4px;
            padding: 2px 4px;
            background-color: #ddd;
        }

        .skills-container {
            margin-top: 1rem;
        }

        .with-tooltip {
            display: flex;
            gap: 4px;
        }

        .value-container {
            display: flex;
            gap: 4px;
            border: solid 1px oklch(var(--primary-color));
            border-radius: 16px;
            margin: 4px;
            padding: 2px 4px;
            background-color: #aaa;

            .value-modifier {
                border-radius: 50%;
                width: 24px;
            }
        }

        .value {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 24px;
            height: 24px;
            min-height: 24px;
            border: solid 1px oklch(var(--primary-color));
            border-radius: 50%;
            background-color: #fff;
            font-size: 11px;
        }


        .available-points-container {
             display: flex;
             align-items: flex-end;
             gap: 1rem;

            .available-points {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 24px;
                border: solid 1px oklch(var(--primary-color));
                border-radius: 4px;
                background-color: #fff;
                font-size: 12px;
                padding: 2px 16px;
                font-weight: bold;
            }
        }


        // print css
        @media print {
            padding: 0;
            border: none;
            background-color: #fff;
            max-width: 20cm;
            min-height: 27cm;

            .no-print {
                display: none;
            }

            .dropdown {
                display: none;
            }
            .btn {
                display: none;
            }

            .value-container {
                border: none;
                margin: 0;
                padding: 0;
                background-color: transparent;
            }

            .available-points-container {
                display: none;
            }

            input[type="checkbox"] {
                border: none;
            }

            // after checked checked input
            input:checked:after {
                content: "✅";
                position: absolute;
                margin-left: -4px;
                margin-top: -7px;
                font-size: 1.5rem;
                color: var(--primary-color);

            }
        }
    }
}

